{% extends 'asset/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{%block content%}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Acquisition Detail - <span class="text-primary">{{object.asset_name|upper}}</span></h3>
        </div>
      <!-- /.card-header -->
      <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                <h4>Name: <span class="text-primary">{{object.asset_name}}</span></h4>
                <h4>Asset Number: <span class="text-primary" >{{object.asset_number|upper}}</span></h4>
                <h4>Serial Number: <span class="text-primary" >{{object.serial_number|upper}}</span></h4>
                <h4>Manufacturer: <span class="text-primary" >{{object.manufacturer}}</span></h4>
                <h4>Model: <span class="text-primary" >{{object.model}}</span></h4>

              </div>
              <div class="col-md-6">
                <h4>Purchased From: <span class="text-primary" >{{object.purchased_from}}</span></h4>
                <h4>Aquired: <span class="text-primary" >{{object.date_acquired|date:"F d, Y"}}</span></h4>
                <h4>Added By: <span class="text-primary" >{{object.post_by.first_name}} {{object.post_by.last_name}}</span></h4>
                <h2 class="text-danger">Notes</h2>

                <p>{{object.notes}}</p>
            </div>

            <div>
                <a class="btn btn btn-warning" href="{% url 'update_acquisition' acquisition.id %} ">Edit</a>
                <a class="btn btn btn-info" href="{% url 'view_acquisition' %}">Back</a>
            </div>
            
          </div>
      </div>
    </div>
{%endblock content%}
<a class="btn btn btn-warning" href="">Edit</a>
<a class="btn btn btn-success" href="{% url 'view_acquisition' %}">Back</a>