{% extends 'asset/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{%block content%}

<div class="card">
    <div class="card-header">
      <h3 class="card-title">Active Users</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th> First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Last Login</th>
            
            
        </tr>
        </thead>
        <tbody>

            {% for user in users %}

            <tr>
            <td></td>
              <td>{{user.first_name}}</td>
              <td>{{transfer.department_assigned}}</td>
              <td><a href="">{{transfer.location_assigned}}</a> </td>
              <td>{{transfer.date_transferred|date:'F d, Y'}}</td>
              

            </tr>
{% endfor %}
       
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>


  {%endblock content%}
